* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 200vh;
}

nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 100vw;
	background-color: lightpink;
	font-family: sans-serif;
}

.navLinks {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	right: 0px;
	top: -90vh;
	height: 90vh;
	background-color: lightgreen;
	align-items: center;
	width: 20%;
	transition: all 0.3s;
}

.navLinks li {
	list-style: none;
}

.navLinks a {
	color: purple;
	text-decoration: none;
	letter-spacing: 3px;
}

.burger div {
	height: 3px;
	width: 25px;
	background-color: purple;
	margin: 5px;
	border-radius: 10%;
	transition: all 0.3s;
}

.burger {
	cursor: pointer;
	margin-right: 25px;
	margin-left: auto;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
	transform: translateY(100vh);
}
